/* Responsividade */

@media only screen and (max-width: 425px) {

    /* Header */
    header{
        margin-top: 50px;
    }

    header .header-img img,
    header .header-text{
        display: none;
    }
    

    header .motion-logo img{
        display: block;
        margin: 0;
    }

    /* Section-Titulo */

    #section-titulo{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #section-titulo .container{
        padding: 0px 30px;
    }

    #section-titulo h1,
    #section-titulo h6{
        font-size: 24px;
        text-align: center;
    }

    /* Section Carros*/

    #section-carros .imagens img{
        height: 140px;
    }

    #section-carros .carros-animacao{
        padding: 50px;
    }

    #section-carros a{
        margin-top: 80px;
        font-size: 16px;
        height: 50px;
        width: 150px;
    }

    /* Section Jornada */

    #section-jornada h1{
        font-size: 32px;
    }
    
    #section-jornada .texto{
        width: 90%;
    }

    #section-jornada .texto h5{
        font-size: 24px;
    }

    /* Section Barra*/

    #section-barra {
        width: 67%;
        height: 65px;
    }

    /* Section Pilares */

    #section-pilares .container{
        padding-left: 0;
    }

    #section-pilares h1{
        font-size: 32px;
        text-align: center;
    }

    #section-pilares .imagens{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 60px;
    }
    
    #section-pilares .card{
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        border-bottom: 2px solid #cfcfcf;
        padding-bottom: 40px;
    }

    #section-pilares .card:nth-child(3) {
        padding-left: 0px;
        border-bottom: none;
    }

    #section-pilares .card img{
        height: 120px;
    }

    /* Section Barra 2 */

    #section-barra-2 {
        width: 67%;
        height: 65px;
        margin-top: 50px;
    }

    /* Footer */
    
    footer{
        margin-top: 300px;
        background-color: #EAE8E2;
        height: 800px;
    }

    footer .img-bg{
        top: -80px;
        margin-top: -200px;
    }

    footer .menu .img-footer img{
        height: 80px;
        margin-bottom: 50px;
    }

    footer .menu,
    footer .links{
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;
        margin-top: 0;
    }

    footer .links{
        flex-direction: column;
        width: 70%;
        font-size: 18px;
    }

    footer .card{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(202, 202, 202);
    }

    footer .card:nth-child(3){
        border-bottom: none;
    }

    footer .logos{
        margin-top: 16px;
    }
    
    footer .logos img{
        height: 40px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 1024px){



    header .menu img{
        height: 30px;
    }

    header .motion-logo img{
        display: block;
        margin: 0;
        margin-bottom: 20px;
    }

    header .menu a{
        font-size: 20px;
    }

    #section-titulo .container{
        padding: 0;
        margin-bottom: 20px;
    }

    #section-titulo .textos h1{
        font-size: 42px;
    }

    #section-titulo .textos h6{
        font-size: 36px;
    }

    #section-carros .imagens img{
        height: 170px;
    }

    #section-carros .container a{
        font-size: 18px;
        width: 140px;
        height: 60px;
    }

    #section-jornada h1{
        font-size: 40px;
    }

    #section-jornada .texto h5{
        font-size: 24px;
    }

    #section-pilares h1{
        font-size: 40px;
    }

    #section-pilares .imagens img{
        height: 150px;
    }

    #section-pilares .card:nth-child(3) {
        padding-left: 10px;
    }

    footer{
        margin-top: 200px;
        padding: 0;
        background-color: #EAE8E2;
        height: 210px;
    }

    footer .container{
        justify-content: flex-start;
    }

    footer .img-bg{
        margin: 0;
        padding: 0;
        top: -100px;
    }

    footer .menu{
        margin-top: 60px;
    }

    footer .menu .img-footer img{
        width: 170px;
        margin-bottom: 50px;
    }

    footer .links{
        width: 520px;
    }

    footer .card{
        font-size: 16px;
    }

    footer .card a{
        margin-bottom: 5px;
    }

    footer .logos a{
        padding: 0;
        padding-bottom: 2px;
    }
}