:root{
    --cor-titulo: #3B546C;
    --cor-subtitulo: #474747;
    --cor-fundo: #F1EFE9;
    --cor-menu: #474747;
    --cor-menu-destaque: #3b546c;
    --cor-footer: #DFDEDB;

}

@font-face {
    font-family: 'Aristotelica';
    src: url('./../fontes/aristotelica-text-trial-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product-Bold';
    src: url('./../fontes/Product\ Sans\ Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product-Regular';
    src: url('./../fontes/Product\ Sans\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Product-Regular", sans-serif;
}

body{
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width:100vw;
}

.container{
    width: 80vw;
    display: flex;
    flex-direction: column;
}

/* ____________HEADER_____________*/

header{
    margin-top: 80px;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
}

header span{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

header a{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-menu);
    opacity: 0.7;
    filter: grayscale(100%);
    transition: all 0.4s;
}

header a:hover,
header a img:hover{
    filter: grayscale(0%);
    opacity: 1;
    scale: 1.05;
}

header .ativo{
    filter: grayscale(0%);
    opacity: 1;
}

header img{
    width: 80px;
    transition: all 0.4s;
}

header img:nth-child(1){
    margin-right: 30px;
}


header .motion-logo{
    filter: grayscale(0%);
    opacity: 1;
}

header .motion-logo img{
    width: 170px;
    margin-bottom: 15px;
}

/* ______________Section Banner___________________ */

#section-banner{
    width: 100%;
    display: flex;
    justify-content: center;
}

#section-banner .container{
    position: absolute;
    height: 600px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
}

#section-banner .banner-texto{
    font-size: 60px;
    position: relative;
    z-index: 1;
    color: #474747;   
}

#section-banner .banner-texto img{
    margin-bottom: -15px;
}

#section-banner .img-banner{
    width: 1500px;
    height: 1000px;
    position: relative;
    margin-left: auto; 
    z-index: -1;
}

#section-banner .img-banner img{
    width: 1500px;
    margin-top: -200px;
}

#section-banner .botao-cadastro a{
    font-family: Product-Bold;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 30px;
    background-color: #C66D2C;
    color: white;
}


/* ______________Section Modulos___________________ */

#section-modulos{
    margin-left: -100px;
}

#section-modulos .container{
    justify-content: center;
    align-items: center;
}

.modulo-texto{
    font-size: 40px;
    text-align: center;
    color: #474747;
    font-weight: lighter;
}

.cards{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 25px;
}

.card{
    text-align: center;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-card{
    width: 150px;
    height: 150px;
    border: 3px solid #d8d8d8;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card h1{
    font-size: 18px;
    color: #474747;
    margin-top: 12px;
}

/* ______________Section Impulsione_______________ */

#section-impulsione{
    margin-top: 220px;
}

#section-impulsione .container{
    height: 200px;
    justify-content: center;
    align-items: center;
}

.impulsione-botao, .impulsione-texto{
    text-align: center;
}

.impulsione-texto p{
    font-size: 35px;
    color: #474747;
}

.impulsione-texto img{
    margin-bottom: -32px;
    margin-left: 5px;
}

#section-impulsione .container a{
    padding: 15px 30px;
    background-color: #C66D2C;
    border-radius: 50px;

    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 40px;
    text-align: center;
}

/* __________Section Planos_____________*/

#section-planos .container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plano{
    width: 400px;
    height: 300px;
    margin: 0px 20px;
}

.plano h3{
    text-align: center;
    margin-bottom: 30px;
    color: #474747;
}

.plano .box{
    border: 3px solid #d6d6d6;
    padding: 40px 30px;
    border-radius: 40px;
}

.plano:nth-child(2) .box{
    border: 3px solid #C66D2C;
}

.plano .preco{
    display: flex;
    padding-left: 12px;
}

.plano .preco h1{
    font-size: 50px;
    color: #474747;
}

.plano .preco p{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 14px;
    color: #474747;
    margin-bottom: 20px;
}

.plano .linha{
    display: flex;
    padding: 10px;
}

.plano .linha p{
    padding-top: 12px;
    padding-left: 10px;
    color: #474747;
    font-weight: bold;
}

.plano .linha img{
    height: 40px;
}

.plano .botao{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.plano .botao a{
    padding: 16px 35px;
    text-decoration: none;
    border: 3px solid #d4d4d4;
    border-radius: 30px;
    color: #474747;
    font-weight: bold;
}

.plano:nth-child(2) .botao a{
    border: 3px solid #C66D2C;
}

/* ________________Footer__________________ */

footer {
    margin-top: 700px;
    height: 300px;
    width: 100%;
    background-color: #DFDEDB;
    display: flex;
    justify-content: center;
}

footer .container {
    justify-content: center;
    align-items: center;
    position: relative;
}

footer .container:after {
    content: "";
    display: table;
    clear: both;
}

footer .container .img-bg {
    margin-top: -310px;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

footer .img-footer img {
    width: 300px;
}

footer .menu{
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    z-index: 1;
}

footer .links{
    display: flex;
    justify-content: space-between;
    width: 800px;
    
}

footer .somos, .produtos, .contato, .logos{
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer .links h3{
    color: #474747;
    margin-bottom: 4px;
}

footer .links a{
    padding: 6px 0px;
    text-decoration: none;
    color: #474747;
    width: fit-content;
    transition: all 0.5s;
}

footer .links a:hover{
    scale: 1.05;
}

footer .logos-redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    transition: all 0.7s;
    filter: grayscale(100%);
}

footer .logos-redes a img:hover,
footer .logos a img:hover{
    filter: grayscale(0%);
    opacity: 1;
    scale: 1.1;
}

/* Responsividade */

@media only screen and (min-width: 1024px) and (max-width: 1440px){
    #section-banner .img-banner{
        width: 1000px;
    }

    #section-banner .img-banner img{
        width: 1000px;
        margin-top: -150px;
    }
}