
.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
 
}

.container{
    width: 85vw;
    display: flex;
    flex-direction: column;
}

/* ______________Section Banner___________________ */

#section-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Product-Regular';
}

#section-banner .container{
    position: absolute;
    height: 600px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
 
}

.container-textos{
    display: flex;
    flex-direction: column;
}

#section-banner .banner-texto{
    font-size: 50px;
    position: relative;
    z-index: 1;
    color: #474747;   
}

.banner-texto:nth-child(2) span b{
    font-size: 4vh;
}

.banner-texto:nth-child(2){
    margin-top: 3vh;
}

.banner-texto:nth-child(2) .botao-cadastro{
    margin-top: 0vh;
}


#section-banner .banner-texto img{
    margin-bottom: -15px;
}

#section-banner .img-banner{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 800px;
    z-index: -1;
    right: 0;
}

#section-banner .img-banner img{
    margin-top: 80px;
    height: 1100px;
}

#section-banner .botao-cadastro a{
    font-family: Product-Bold;
    font-size: 16px;
    text-decoration: none;
    padding: 19px 40px;
    border-radius: 30px;
    background-color: #C66D2C;
    color: white;
    cursor: pointer;
}


/* ______________Section Modulos___________________ */

#section-modulos .container{
    justify-content: center;
    align-items: center;
    font-family: 'Product-Regular';
}

.modulo-texto{
    font-size: 44px;
    text-align: center;
    color: #474747;
    font-weight: lighter;
}

.cards{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 25px;
}

.card{
    text-align: center;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-card{
    width: 160px;
    height: 150px;
    border: 3px solid #d8d8d8;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card h1{
    font-size: 20px;
    color: #474747;
    margin-top: 12px;
}

/* ______________Section Impulsione_______________ */

#section-impulsione{
    margin-top: 220px;
    font-family: 'Product-Regular';
}

#section-impulsione .container{
    height: 200px;
    justify-content: center;
    align-items: center;
}

.impulsione-botao, .impulsione-texto{
    text-align: center;
}

.impulsione-texto p{
    font-size: 42px;
    color: #474747;
}

.impulsione-texto img{
    margin-bottom: -32px;
    margin-left: 5px;
}

#section-impulsione .container a{
    padding: 19px 40px;
    background-color: #C66D2C;
    border-radius: 50px;
    font-family: "Product-Bold";
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
}

/* __________Section Planos_____________*/

#section-planos .container{
    margin-top: 100px;
    margin-bottom: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Product-Regular';
}

.plano{
    width: 400px;
    height: 300px;
    margin: 0px 20px;
}

.plano h3{
    text-align: center;
    margin-bottom: 30px;
    color: #474747;
}

.plano .box{
    border: 3px solid #d6d6d6;
    padding: 40px 30px;
    border-radius: 40px;
}

.plano:nth-child(2) .box{
    border: 3px solid #C66D2C;
}

.plano .preco{
    display: flex;
    padding-left: 12px;
}

.plano .preco h1{
    font-size: 50px;
    color: #474747;
}

.plano .preco p{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 14px;
    color: #474747;
    margin-bottom: 20px;
}

.plano .linha{
    display: flex;
    padding: 10px;
}

.plano .linha p{
    padding-top: 12px;
    padding-left: 10px;
    color: #474747;
    font-weight: bold;
}

.plano .linha img{
    height: 40px;
}

.plano .botao{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.plano .botao a{
    padding: 16px 35px;
    text-decoration: none;
    border: 3px solid #d4d4d4;
    border-radius: 30px;
    color: #474747;
    font-weight: bold;
    cursor: pointer;
}

.plano:nth-child(2) .botao a{
    border: 3px solid #C66D2C;
}