
#section-info{
    width: 60vw;
    height: 75vh;
    background-color: #e9e7e2f2;
    color: #474747;
    margin-left: 5%;
    padding: 5% 6%;
    border-radius: 10vh;
    font-family: 'Product-Regular';
}

#section-info h1{
    font-size: 5vh;
}

#section-info .labels{
    margin-top: 2%;
}

#section-info input{
    height: 5.3vh;
    border: none;
    border-radius: 10vh;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}

#section-info .labels label{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

#section-info .labels label span{
    margin-bottom: 1.2vh;
    font-size: 2.2vh;
}

#section-info .linha1{
    display: flex;
    justify-content: space-between;
}

#section-info .linha1 label{
    display: flex;
    width: 48%;
}

#section-info .labels label:nth-child(3){
    display: flex;
    flex-direction: column;
    width: 48%;
}

#section-info .botao-avancar{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#section-info .botao-avancar img{
    height: 6vh;
}

.container-planos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Product-Regular';
}

.plano{
    width: 320px;
    height: 300px;
    margin: 0px 20px;
}

.plano .box{
    border: 3px solid #d6d6d6;
    padding: 25px 40px;
    border-radius: 40px;
    margin-top: 30px;
}

.plano .preco{
    display: flex;
}

.plano .preco h1{
    font-size: 28px !important;
}

.plano .preco p{
    font-size: 14px;
    padding-top: 12px;
}

.plano .linha{
    display: flex;
    padding: 10px;
}

.plano .linha p{
    padding-top: 6px;
    padding-left: 10px;
    color: #474747;
    font-weight: bold;
    font-size: 15px;
}

.plano .linha img{
    height: 30px;
}

.plano .botao{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.plano .botao a{
    padding: 12px 25px;
    text-decoration: none;
    border: 3px solid #d4d4d4;
    border-radius: 30px;
    color: #474747;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.concluido{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.concluido img{
    height: 150px;
    margin-bottom: 20px;
}

#section-confirma{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 75vh;
    font-family: 'Product-Regular';
    color: #474747;
}

.title-confirma{
    font-size: 3vh;
    margin-bottom: 5vh;
}

.box-confirma{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60vw;
    height: 75vh;
    background-color: #ECEAE5f2;
    border-radius: 10vh;
    padding: 4vw;
    font-weight: bold;
  }

  .input-label{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
  }

  .input-label label{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    font-weight: bold;
  }

  .input-label label span{
    margin-bottom: 1.2vh;
    font-size: 2.2vh;
  }

  .input-label label input{
    height: 5.3vh;
    border: none;
    border-radius: 10vh;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    width: 28vw;
  }

  #section-confirma button{
    width: 8vw;
    height: 6vh;
    margin-top: 5vh;
    border-radius: 4vh;
    cursor: pointer;
    font-family: "Product-Regular";
    background-color: #c66d2c;
    border: none;
    color: #ECEAE5;
    margin-bottom: 3vh;
    transition: all 0.5s ease-in-out;
  }

  #section-confirma button:hover{
    transform: scale(1.025);
  }