.container{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ________________Footer__________________ */

footer {
    height: 300px;
    display: flex;
    justify-content: center;
    font-family: 'Product-Regular';
    background-color: var(--bg);
    margin-top: 200px;
}

footer .container {
    justify-content: center;
    align-items: center;
    position: relative;
}

footer .container .img-bg {
    top: -150px;
    width: 98vw;
    overflow-x: hidden;
    position: absolute;
    z-index: 0;
}

footer .img-footer{
    height: 142px;
}

footer .img-footer img {
    width: 250px;
}

footer .menu{
    width: 80%;
    padding-top: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    z-index: 1;
}

footer .links{
    display: flex;
    justify-content: space-between;
    width:60%;
}

footer .card, .logos{
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer .links h3{
    font-size: 18px;
    color: #474747;
    margin-bottom: 4px;
}

footer .links a{
    padding: 6px 0px;
    font-size: 16px;
    text-decoration: none;
    color: #474747;
    width: fit-content;
    transition: all 0.5s;
}

footer .links a:hover{
    scale: 1.05;
}

footer .logos-redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    transition: all 0.7s;
    filter: grayscale(100%);
}

footer .logos-redes img{
    height: 32px;
}

footer .logos-redes a img:hover,
footer .logos a img:hover{
    filter: grayscale(0%);
    opacity: 1;
    scale: 1.1;
}